--
-- PostgreSQL database dump
--

\restrict a0N63zIhvVf3dXGzklvNWC3FlefHO5T3dDcueLNJqz7RPm62OWm2AKuuRq39j5d

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: enum_episodes_processingStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."enum_episodes_processingStatus" AS ENUM (
    'pending',
    'processing',
    'completed',
    'failed'
);


ALTER TYPE public."enum_episodes_processingStatus" OWNER TO postgres;

--
-- Name: file_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.file_type_enum AS ENUM (
    'video',
    'image',
    'script'
);


ALTER TYPE public.file_type_enum OWNER TO postgres;

--
-- Name: indexing_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.indexing_status_enum AS ENUM (
    'pending',
    'indexed',
    'failed'
);


ALTER TYPE public.indexing_status_enum OWNER TO postgres;

--
-- Name: thumbnail_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.thumbnail_type_enum AS ENUM (
    'primary',
    'cover',
    'poster',
    'frame'
);


ALTER TYPE public.thumbnail_type_enum OWNER TO postgres;

--
-- Name: upload_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.upload_status_enum AS ENUM (
    'pending',
    'completed',
    'failed'
);


ALTER TYPE public.upload_status_enum OWNER TO postgres;

--
-- Name: initialize_composition_version(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.initialize_composition_version() RETURNS void
    LANGUAGE plpgsql
    AS $$
      BEGIN
        -- For compositions without version history, create v1 entry
        INSERT INTO composition_versions (
          composition_id,
          version_number,
          change_summary,
          created_by,
          created_at,
          is_published,
          composition_snapshot,
          version_hash
        )
        SELECT
          id,
          1,
          'Initial composition creation',
          'system',
          created_at,
          TRUE,
          jsonb_build_object(
            'id', id,
            'name', name,
            'template_id', template_id,
            'background_frame_asset_id', background_frame_asset_id,
            'lala_asset_id', lala_asset_id,
            'guest_asset_id', guest_asset_id,
            'justawomen_asset_id', justawomen_asset_id,
            'selected_formats', selected_formats,
            'status', status
          ),
          'initial_version'
        FROM thumbnail_compositions
        WHERE id NOT IN (SELECT DISTINCT composition_id FROM composition_versions)
        ON CONFLICT DO NOTHING;
      END;
    $$;


ALTER FUNCTION public.initialize_composition_version() OWNER TO postgres;

--
-- Name: track_composition_changes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.track_composition_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
      DECLARE
        v_changes JSONB := '{}';
        v_hash VARCHAR(64);
      BEGIN
        -- Build changed_fields JSON if this is an update
        IF TG_OP = 'UPDATE' THEN
          IF OLD.name IS DISTINCT FROM NEW.name THEN
            v_changes := v_changes || jsonb_build_object('name', jsonb_build_object('old', OLD.name, 'new', NEW.name));
          END IF;
          IF OLD.template_id IS DISTINCT FROM NEW.template_id THEN
            v_changes := v_changes || jsonb_build_object('template_id', jsonb_build_object('old', OLD.template_id, 'new', NEW.template_id));
          END IF;
          IF OLD.background_frame_asset_id IS DISTINCT FROM NEW.background_frame_asset_id THEN
            v_changes := v_changes || jsonb_build_object('background_asset', jsonb_build_object('old', OLD.background_frame_asset_id::text, 'new', NEW.background_frame_asset_id::text));
          END IF;
          IF OLD.lala_asset_id IS DISTINCT FROM NEW.lala_asset_id THEN
            v_changes := v_changes || jsonb_build_object('lala_asset', jsonb_build_object('old', OLD.lala_asset_id::text, 'new', NEW.lala_asset_id::text));
          END IF;
          IF OLD.guest_asset_id IS DISTINCT FROM NEW.guest_asset_id THEN
            v_changes := v_changes || jsonb_build_object('guest_asset', jsonb_build_object('old', OLD.guest_asset_id::text, 'new', NEW.guest_asset_id::text));
          END IF;
          IF OLD.selected_formats IS DISTINCT FROM NEW.selected_formats THEN
            v_changes := v_changes || jsonb_build_object('selected_formats', jsonb_build_object('old', OLD.selected_formats, 'new', NEW.selected_formats));
          END IF;
          IF OLD.status IS DISTINCT FROM NEW.status THEN
            v_changes := v_changes || jsonb_build_object('status', jsonb_build_object('old', OLD.status, 'new', NEW.status));
          END IF;
        END IF;

        -- Create new version
        v_hash := md5(NEW.id::text || NEW.current_version::text || NOW()::text);
        
        INSERT INTO composition_versions (
          composition_id,
          version_number,
          version_hash,
          change_summary,
          changed_fields,
          created_by,
          is_published,
          composition_snapshot
        ) VALUES (
          NEW.id,
          NEW.current_version,
          v_hash,
          CASE 
            WHEN TG_OP = 'INSERT' THEN 'Composition created'
            ELSE 'Composition updated'
          END,
          v_changes,
          COALESCE(NEW.last_modified_by, 'system'),
          (NEW.status = 'published'),
          jsonb_build_object(
            'id', NEW.id,
            'name', NEW.name,
            'template_id', NEW.template_id,
            'background_frame_asset_id', NEW.background_frame_asset_id,
            'lala_asset_id', NEW.lala_asset_id,
            'guest_asset_id', NEW.guest_asset_id,
            'justawomen_asset_id', NEW.justawomen_asset_id,
            'selected_formats', NEW.selected_formats,
            'status', NEW.status,
            'created_at', NEW.created_at,
            'updated_at', NOW()
          )
        );

        -- Update version history in composition
        NEW.version_history := jsonb_build_object(
          'total_versions', NEW.current_version,
          'last_modified', NOW(),
          'last_modified_by', NEW.last_modified_by
        );
        
        NEW.modification_timestamp := NOW();
        
        RETURN NEW;
      END;
    $$;


ALTER FUNCTION public.track_composition_changes() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: SequelizeMeta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SequelizeMeta" (
    name character varying(255) NOT NULL
);


ALTER TABLE public."SequelizeMeta" OWNER TO postgres;

--
-- Name: asset_label_mappings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asset_label_mappings (
    asset_id uuid NOT NULL,
    label_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.asset_label_mappings OWNER TO postgres;

--
-- Name: TABLE asset_label_mappings; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.asset_label_mappings IS 'Many-to-many relationship between assets and labels';


--
-- Name: asset_labels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asset_labels (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    color character varying(7) DEFAULT '#6366f1'::character varying,
    description text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.asset_labels OWNER TO postgres;

--
-- Name: TABLE asset_labels; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.asset_labels IS 'Labels/tags that can be applied to assets';


--
-- Name: asset_usage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asset_usage (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    asset_id uuid,
    used_in_type character varying(50),
    used_in_id uuid,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.asset_usage OWNER TO postgres;

--
-- Name: TABLE asset_usage; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.asset_usage IS 'Tracks where assets are used in the system';


--
-- Name: assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    asset_type character varying(100),
    s3_key character varying(500),
    url character varying(500),
    metadata jsonb,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    media_type character varying(20) DEFAULT 'image'::character varying,
    duration_seconds integer,
    video_codec character varying(50),
    audio_codec character varying(50),
    bitrate integer,
    description text,
    approval_status character varying(50) DEFAULT 'PENDING'::character varying,
    s3_key_raw character varying(500),
    s3_url_raw text,
    s3_key_processed character varying(500),
    s3_url_processed text,
    processed_at timestamp without time zone,
    file_size_bytes bigint,
    width integer,
    height integer,
    processed_file_size_bytes bigint,
    processing_job_id character varying(255),
    processing_error text,
    deleted_at timestamp without time zone
);


ALTER TABLE public.assets OWNER TO postgres;

--
-- Name: COLUMN assets.media_type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.assets.media_type IS 'Type of media: image or video';


--
-- Name: composition_versions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.composition_versions (
    id integer NOT NULL,
    composition_id uuid NOT NULL,
    version_number integer NOT NULL,
    version_hash character varying(64),
    change_summary text,
    changed_fields jsonb,
    created_by character varying(100),
    created_at timestamp without time zone DEFAULT now(),
    is_published boolean DEFAULT false,
    composition_snapshot jsonb NOT NULL,
    CONSTRAINT valid_version_number CHECK ((version_number > 0))
);


ALTER TABLE public.composition_versions OWNER TO postgres;

--
-- Name: thumbnail_compositions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.thumbnail_compositions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    episode_id uuid NOT NULL,
    template_id uuid,
    name character varying(255),
    description text,
    background_frame_asset_id uuid,
    lala_asset_id uuid,
    guest_asset_id uuid,
    justawomen_asset_id uuid,
    selected_formats jsonb DEFAULT '[]'::jsonb,
    status character varying(50) DEFAULT 'draft'::character varying,
    created_by character varying(255),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    current_version integer DEFAULT 1,
    version_history jsonb DEFAULT '{}'::jsonb,
    last_modified_by character varying(100),
    modification_timestamp timestamp without time zone DEFAULT now()
);


ALTER TABLE public.thumbnail_compositions OWNER TO postgres;

--
-- Name: composition_version_changelog; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.composition_version_changelog AS
 SELECT cv.composition_id,
    cv.version_number,
    cv.change_summary,
    cv.created_by,
    cv.created_at,
    cv.is_published,
    cv.changed_fields,
    tc.name AS composition_name
   FROM (public.composition_versions cv
     JOIN public.thumbnail_compositions tc ON ((cv.composition_id = tc.id)))
  ORDER BY cv.composition_id, cv.version_number DESC;


ALTER TABLE public.composition_version_changelog OWNER TO postgres;

--
-- Name: composition_versions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.composition_versions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.composition_versions_id_seq OWNER TO postgres;

--
-- Name: composition_versions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.composition_versions_id_seq OWNED BY public.composition_versions.id;


--
-- Name: episodes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.episodes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    episode_number integer,
    title character varying(255) NOT NULL,
    description text,
    air_date date,
    status character varying(50) DEFAULT 'draft'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    deleted_at timestamp without time zone,
    categories jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.episodes OWNER TO postgres;

--
-- Name: file_storages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.file_storages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    episode_id uuid NOT NULL,
    file_name character varying(255) NOT NULL,
    file_type public.file_type_enum NOT NULL,
    file_size bigint NOT NULL,
    mime_type character varying(100) NOT NULL,
    s3_key character varying(500) NOT NULL,
    s3_bucket character varying(255) NOT NULL,
    s3_etag character varying(255),
    s3_version_id character varying(255),
    upload_status public.upload_status_enum DEFAULT 'pending'::public.upload_status_enum,
    upload_error text,
    metadata jsonb,
    indexing_status public.indexing_status_enum DEFAULT 'pending'::public.indexing_status_enum,
    indexed_at timestamp without time zone,
    processing_job_id uuid,
    access_count integer DEFAULT 0,
    last_accessed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    deleted_at timestamp without time zone
);


ALTER TABLE public.file_storages OWNER TO postgres;

--
-- Name: pgmigrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pgmigrations (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    run_on timestamp without time zone NOT NULL
);


ALTER TABLE public.pgmigrations OWNER TO postgres;

--
-- Name: pgmigrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pgmigrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pgmigrations_id_seq OWNER TO postgres;

--
-- Name: pgmigrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pgmigrations_id_seq OWNED BY public.pgmigrations.id;


--
-- Name: processing_queue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.processing_queue (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    composition_id uuid,
    job_type character varying(100),
    status character varying(50) DEFAULT 'pending'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.processing_queue OWNER TO postgres;

--
-- Name: scenes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scenes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    episode_id uuid NOT NULL,
    scene_number integer NOT NULL,
    title character varying(255),
    description text,
    duration_seconds integer,
    location character varying(255),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    scene_type character varying(50),
    production_status character varying(50) DEFAULT 'draft'::character varying NOT NULL,
    mood character varying(100),
    script_notes text,
    start_timecode character varying(20),
    end_timecode character varying(20),
    is_locked boolean DEFAULT false NOT NULL,
    locked_at timestamp without time zone,
    locked_by character varying(255),
    characters jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_by character varying(255),
    updated_by character varying(255),
    deleted_at timestamp without time zone,
    thumbnail_id uuid,
    assets jsonb DEFAULT '{}'::jsonb
);


ALTER TABLE public.scenes OWNER TO postgres;

--
-- Name: COLUMN scenes.scene_type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scenes.scene_type IS 'Type of scene: intro, main, outro, transition';


--
-- Name: COLUMN scenes.production_status; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scenes.production_status IS 'Production status: draft, storyboarded, recorded, edited, complete';


--
-- Name: COLUMN scenes.mood; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scenes.mood IS 'Scene mood or tone';


--
-- Name: COLUMN scenes.script_notes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scenes.script_notes IS 'Script notes for the scene';


--
-- Name: COLUMN scenes.start_timecode; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scenes.start_timecode IS 'Start timecode in format HH:MM:SS:FF';


--
-- Name: COLUMN scenes.end_timecode; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scenes.end_timecode IS 'End timecode in format HH:MM:SS:FF';


--
-- Name: COLUMN scenes.is_locked; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scenes.is_locked IS 'Whether the scene is locked for editing';


--
-- Name: COLUMN scenes.locked_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scenes.locked_at IS 'When the scene was locked';


--
-- Name: COLUMN scenes.locked_by; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scenes.locked_by IS 'User ID who locked the scene';


--
-- Name: COLUMN scenes.characters; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scenes.characters IS 'Array of character names in the scene';


--
-- Name: COLUMN scenes.created_by; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scenes.created_by IS 'User ID who created the scene';


--
-- Name: COLUMN scenes.updated_by; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scenes.updated_by IS 'User ID who last updated the scene';


--
-- Name: COLUMN scenes.deleted_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scenes.deleted_at IS 'Soft delete timestamp (paranoid mode)';


--
-- Name: thumbnail_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.thumbnail_templates (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    layout_config jsonb,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.thumbnail_templates OWNER TO postgres;

--
-- Name: thumbnails; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.thumbnails (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    episode_id uuid,
    composition_id uuid,
    url character varying(500),
    s3_key character varying(500),
    metadata jsonb,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    thumbnail_type public.thumbnail_type_enum DEFAULT 'primary'::public.thumbnail_type_enum
);


ALTER TABLE public.thumbnails OWNER TO postgres;

--
-- Name: COLUMN thumbnails.thumbnail_type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.thumbnails.thumbnail_type IS 'Type of thumbnail (primary/cover/poster/frame)';


--
-- Name: composition_versions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.composition_versions ALTER COLUMN id SET DEFAULT nextval('public.composition_versions_id_seq'::regclass);


--
-- Name: pgmigrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pgmigrations ALTER COLUMN id SET DEFAULT nextval('public.pgmigrations_id_seq'::regclass);


--
-- Data for Name: SequelizeMeta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SequelizeMeta" (name) FROM stdin;
\.


--
-- Data for Name: asset_label_mappings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.asset_label_mappings (asset_id, label_id, created_at) FROM stdin;
\.


--
-- Data for Name: asset_labels; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: asset_usage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.asset_usage (id, asset_id, used_in_type, used_in_id, created_at) FROM stdin;
\.


--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: composition_versions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.composition_versions (id, composition_id, version_number, version_hash, change_summary, changed_fields, created_by, created_at, is_published, composition_snapshot) FROM stdin;
\.


--
-- Data for Name: episodes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: file_storages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.file_storages (id, episode_id, file_name, file_type, file_size, mime_type, s3_key, s3_bucket, s3_etag, s3_version_id, upload_status, upload_error, metadata, indexing_status, indexed_at, processing_job_id, access_count, last_accessed_at, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: pgmigrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pgmigrations (id, name, run_on) FROM stdin;
11	20240101000000-create-base-schema	2026-01-16 15:53:05.221964
12	20240101000001-create-file-storage	2026-01-16 15:53:05.221964
13	20260101000001-add-thumbnail-type	2026-01-16 15:53:05.221964
14	20260105000000-add-composition-versioning	2026-01-16 15:53:05.221964
15	20260105000001-add-filtering-indexes	2026-01-16 15:53:05.221964
16	20260116105409-create-scenes-table	2026-01-16 15:54:31.690979
17	20260116105500-add-advanced-scene-fields	2026-01-16 16:52:02.09813
\.


--
-- Data for Name: processing_queue; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.processing_queue (id, composition_id, job_type, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: scenes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.scenes (id, episode_id, scene_number, title, description, duration_seconds, location, created_at, updated_at, scene_type, production_status, mood, script_notes, start_timecode, end_timecode, is_locked, locked_at, locked_by, characters, created_by, updated_by, deleted_at, thumbnail_id, assets) FROM stdin;
4e7eae30-dc67-4ccc-844e-7f6deac294c7	f1122219-3c2b-4431-874b-0f9bdc21ab99	1	test 1	this is my first test	30	studio	2026-01-16 23:35:47.983	2026-01-18 17:43:07.382	main	draft	neutral	vggg	\N	\N	f	\N	\N	["lala"]	system	system	\N	\N	{}
\.


--
-- Data for Name: thumbnail_compositions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.thumbnail_compositions (id, episode_id, template_id, name, description, background_frame_asset_id, lala_asset_id, guest_asset_id, justawomen_asset_id, selected_formats, status, created_by, created_at, updated_at, current_version, version_history, last_modified_by, modification_timestamp) FROM stdin;
\.


--
-- Data for Name: thumbnail_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.thumbnail_templates (id, name, description, layout_config, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: thumbnails; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.thumbnails (id, episode_id, composition_id, url, s3_key, metadata, created_at, updated_at, thumbnail_type) FROM stdin;
\.


--
-- Name: composition_versions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.composition_versions_id_seq', 5, true);


--
-- Name: pgmigrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pgmigrations_id_seq', 17, true);


--
-- Name: SequelizeMeta SequelizeMeta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SequelizeMeta"
    ADD CONSTRAINT "SequelizeMeta_pkey" PRIMARY KEY (name);


--
-- Name: asset_label_mappings asset_label_mappings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_label_mappings
    ADD CONSTRAINT asset_label_mappings_pkey PRIMARY KEY (asset_id, label_id);


--
-- Name: asset_labels asset_labels_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_labels
    ADD CONSTRAINT asset_labels_name_key UNIQUE (name);


--
-- Name: asset_labels asset_labels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_labels
    ADD CONSTRAINT asset_labels_pkey PRIMARY KEY (id);


--
-- Name: asset_usage asset_usage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_usage
    ADD CONSTRAINT asset_usage_pkey PRIMARY KEY (id);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (id);


--
-- Name: assets assets_s3_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_s3_key_key UNIQUE (s3_key);


--
-- Name: composition_versions composition_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.composition_versions
    ADD CONSTRAINT composition_versions_pkey PRIMARY KEY (id);


--
-- Name: composition_versions composition_versions_version_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.composition_versions
    ADD CONSTRAINT composition_versions_version_hash_key UNIQUE (version_hash);


--
-- Name: episodes episodes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT episodes_pkey PRIMARY KEY (id);


--
-- Name: file_storages file_storages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_storages
    ADD CONSTRAINT file_storages_pkey PRIMARY KEY (id);


--
-- Name: file_storages file_storages_s3_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_storages
    ADD CONSTRAINT file_storages_s3_key_key UNIQUE (s3_key);


--
-- Name: pgmigrations pgmigrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pgmigrations
    ADD CONSTRAINT pgmigrations_pkey PRIMARY KEY (id);


--
-- Name: processing_queue processing_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processing_queue
    ADD CONSTRAINT processing_queue_pkey PRIMARY KEY (id);


--
-- Name: scenes scenes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scenes
    ADD CONSTRAINT scenes_pkey PRIMARY KEY (id);


--
-- Name: thumbnail_compositions thumbnail_compositions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thumbnail_compositions
    ADD CONSTRAINT thumbnail_compositions_pkey PRIMARY KEY (id);


--
-- Name: thumbnail_templates thumbnail_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thumbnail_templates
    ADD CONSTRAINT thumbnail_templates_pkey PRIMARY KEY (id);


--
-- Name: thumbnails thumbnails_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thumbnails
    ADD CONSTRAINT thumbnails_pkey PRIMARY KEY (id);


--
-- Name: composition_versions unique_composition_version; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.composition_versions
    ADD CONSTRAINT unique_composition_version UNIQUE (composition_id, version_number);


--
-- Name: episodes_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX episodes_id_index ON public.episodes USING btree (id);


--
-- Name: file_storages_created_at_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX file_storages_created_at_index ON public.file_storages USING btree (created_at);


--
-- Name: file_storages_episode_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX file_storages_episode_id_index ON public.file_storages USING btree (episode_id);


--
-- Name: file_storages_file_type_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX file_storages_file_type_index ON public.file_storages USING btree (file_type);


--
-- Name: file_storages_indexing_status_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX file_storages_indexing_status_index ON public.file_storages USING btree (indexing_status);


--
-- Name: file_storages_s3_key_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX file_storages_s3_key_index ON public.file_storages USING btree (s3_key);


--
-- Name: file_storages_upload_status_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX file_storages_upload_status_index ON public.file_storages USING btree (upload_status);


--
-- Name: idx_asset_label_mappings_asset; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_asset_label_mappings_asset ON public.asset_label_mappings USING btree (asset_id);


--
-- Name: idx_asset_label_mappings_label; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_asset_label_mappings_label ON public.asset_label_mappings USING btree (label_id);


--
-- Name: idx_asset_usage_asset; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_asset_usage_asset ON public.asset_usage USING btree (asset_id);


--
-- Name: idx_asset_usage_used_in; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_asset_usage_used_in ON public.asset_usage USING btree (used_in_type, used_in_id);


--
-- Name: idx_assets_approval_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assets_approval_status ON public.assets USING btree (approval_status);


--
-- Name: idx_assets_asset_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assets_asset_type ON public.assets USING btree (asset_type);


--
-- Name: idx_assets_media_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assets_media_type ON public.assets USING btree (media_type);


--
-- Name: idx_composition_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_composition_created_at ON public.thumbnail_compositions USING btree (created_at);


--
-- Name: idx_composition_created_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_composition_created_by ON public.thumbnail_compositions USING btree (created_by);


--
-- Name: idx_composition_episode_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_composition_episode_created ON public.thumbnail_compositions USING btree (episode_id, created_at);


--
-- Name: idx_composition_episode_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_composition_episode_id ON public.thumbnail_compositions USING btree (episode_id);


--
-- Name: idx_composition_episode_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_composition_episode_status ON public.thumbnail_compositions USING btree (episode_id, status);


--
-- Name: idx_composition_name_search; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_composition_name_search ON public.thumbnail_compositions USING gin (to_tsvector('english'::regconfig, (((name)::text || ' '::text) || COALESCE(description, ''::text))));


--
-- Name: idx_composition_selected_formats_gin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_composition_selected_formats_gin ON public.thumbnail_compositions USING btree (selected_formats);


--
-- Name: idx_composition_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_composition_status ON public.thumbnail_compositions USING btree (status);


--
-- Name: idx_composition_template_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_composition_template_id ON public.thumbnail_compositions USING btree (template_id);


--
-- Name: idx_composition_updated_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_composition_updated_at ON public.thumbnail_compositions USING btree (updated_at);


--
-- Name: idx_composition_versions_composition_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_composition_versions_composition_id ON public.composition_versions USING btree (composition_id);


--
-- Name: idx_composition_versions_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_composition_versions_created_at ON public.composition_versions USING btree (created_at);


--
-- Name: idx_composition_versions_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_composition_versions_hash ON public.composition_versions USING btree (version_hash);


--
-- Name: idx_compositions_current_version; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_compositions_current_version ON public.thumbnail_compositions USING btree (current_version);


--
-- Name: idx_scenes_deleted_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_scenes_deleted_at ON public.scenes USING btree (deleted_at);


--
-- Name: idx_scenes_episode_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_scenes_episode_id ON public.scenes USING btree (episode_id);


--
-- Name: idx_scenes_episode_scene_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_scenes_episode_scene_number ON public.scenes USING btree (episode_id, scene_number);


--
-- Name: idx_scenes_is_locked; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_scenes_is_locked ON public.scenes USING btree (is_locked);


--
-- Name: idx_scenes_production_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_scenes_production_status ON public.scenes USING btree (production_status);


--
-- Name: idx_scenes_scene_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_scenes_scene_type ON public.scenes USING btree (scene_type);


--
-- Name: idx_scenes_thumbnail_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_scenes_thumbnail_id ON public.scenes USING btree (thumbnail_id);


--
-- Name: idx_thumbnail_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_thumbnail_type ON public.thumbnails USING btree (episode_id, thumbnail_type);


--
-- Name: processing_queue_composition_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX processing_queue_composition_id_index ON public.processing_queue USING btree (composition_id);


--
-- Name: thumbnail_compositions_episode_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX thumbnail_compositions_episode_id_index ON public.thumbnail_compositions USING btree (episode_id);


--
-- Name: thumbnail_compositions_template_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX thumbnail_compositions_template_id_index ON public.thumbnail_compositions USING btree (template_id);


--
-- Name: thumbnails_composition_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX thumbnails_composition_id_index ON public.thumbnails USING btree (composition_id);


--
-- Name: thumbnails_episode_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX thumbnails_episode_id_index ON public.thumbnails USING btree (episode_id);


--
-- Name: asset_label_mappings asset_label_mappings_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_label_mappings
    ADD CONSTRAINT asset_label_mappings_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id) ON DELETE CASCADE;


--
-- Name: asset_label_mappings asset_label_mappings_label_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_label_mappings
    ADD CONSTRAINT asset_label_mappings_label_id_fkey FOREIGN KEY (label_id) REFERENCES public.asset_labels(id) ON DELETE CASCADE;


--
-- Name: asset_usage asset_usage_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_usage
    ADD CONSTRAINT asset_usage_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id) ON DELETE CASCADE;


--
-- Name: composition_versions composition_versions_composition_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.composition_versions
    ADD CONSTRAINT composition_versions_composition_id_fkey FOREIGN KEY (composition_id) REFERENCES public.thumbnail_compositions(id) ON DELETE CASCADE;


--
-- Name: file_storages file_storages_episode_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_storages
    ADD CONSTRAINT file_storages_episode_id_fkey FOREIGN KEY (episode_id) REFERENCES public.episodes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: file_storages file_storages_processing_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_storages
    ADD CONSTRAINT file_storages_processing_job_id_fkey FOREIGN KEY (processing_job_id) REFERENCES public.processing_queue(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: processing_queue processing_queue_composition_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processing_queue
    ADD CONSTRAINT processing_queue_composition_id_fkey FOREIGN KEY (composition_id) REFERENCES public.thumbnail_compositions(id) ON DELETE CASCADE;


--
-- Name: scenes scenes_episode_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scenes
    ADD CONSTRAINT scenes_episode_id_fkey FOREIGN KEY (episode_id) REFERENCES public.episodes(id) ON DELETE CASCADE;


--
-- Name: scenes scenes_thumbnail_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scenes
    ADD CONSTRAINT scenes_thumbnail_id_fkey FOREIGN KEY (thumbnail_id) REFERENCES public.thumbnails(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: thumbnail_compositions thumbnail_compositions_background_frame_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thumbnail_compositions
    ADD CONSTRAINT thumbnail_compositions_background_frame_asset_id_fkey FOREIGN KEY (background_frame_asset_id) REFERENCES public.assets(id) ON DELETE SET NULL;


--
-- Name: thumbnail_compositions thumbnail_compositions_episode_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thumbnail_compositions
    ADD CONSTRAINT thumbnail_compositions_episode_id_fkey FOREIGN KEY (episode_id) REFERENCES public.episodes(id) ON DELETE CASCADE;


--
-- Name: thumbnail_compositions thumbnail_compositions_guest_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thumbnail_compositions
    ADD CONSTRAINT thumbnail_compositions_guest_asset_id_fkey FOREIGN KEY (guest_asset_id) REFERENCES public.assets(id) ON DELETE SET NULL;


--
-- Name: thumbnail_compositions thumbnail_compositions_justawomen_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thumbnail_compositions
    ADD CONSTRAINT thumbnail_compositions_justawomen_asset_id_fkey FOREIGN KEY (justawomen_asset_id) REFERENCES public.assets(id) ON DELETE SET NULL;


--
-- Name: thumbnail_compositions thumbnail_compositions_lala_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thumbnail_compositions
    ADD CONSTRAINT thumbnail_compositions_lala_asset_id_fkey FOREIGN KEY (lala_asset_id) REFERENCES public.assets(id) ON DELETE SET NULL;


--
-- Name: thumbnail_compositions thumbnail_compositions_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thumbnail_compositions
    ADD CONSTRAINT thumbnail_compositions_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.thumbnail_templates(id) ON DELETE SET NULL;


--
-- Name: thumbnails thumbnails_composition_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thumbnails
    ADD CONSTRAINT thumbnails_composition_id_fkey FOREIGN KEY (composition_id) REFERENCES public.thumbnail_compositions(id) ON DELETE CASCADE;


--
-- Name: thumbnails thumbnails_episode_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thumbnails
    ADD CONSTRAINT thumbnails_episode_id_fkey FOREIGN KEY (episode_id) REFERENCES public.episodes(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict a0N63zIhvVf3dXGzklvNWC3FlefHO5T3dDcueLNJqz7RPm62OWm2AKuuRq39j5d

